RewriteEngine On

#Tạo Area cho Admin với param là: area=admin
RewriteRule "^Admin$" "Index.php?area=admin&c=HomeController&a=Index&id=0"
RewriteRule "^Admin/([a-zA-Z0-9]+)$" "Index.php?area=admin&c=$1Controller&a=Index&id=0"
RewriteRule "^Admin/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$" "Index.php?area=admin&c=$1Controller&a=$2&id=0"
RewriteRule "^Admin/([a-zA-Z0-9]+)/([a-zA-Z0-9]+).html$" "Index.php?area=admin&c=$1Controller&a=$2&id=0"
RewriteRule "^Admin/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([0-9])$" "Index.php?area=admin&c=$1Controller&a=$2&id=$3"

#Nếu không phải các Area ở trên thì chạy bình thường
RewriteRule "^$" "Index.php?c=HomeController&a=Index&id=0"
RewriteRule "^([a-zA-Z0-9]+)$" "Index.php?c=$1Controller&a=Index&id=0"
RewriteRule "^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$" "Index.php?c=$1Controller&a=$2&id=0"
RewriteRule "^([a-zA-Z0-9]+)/([a-zA-Z0-9]+).html$" "Index.php?c=$1Controller&a=$2&id=0"
RewriteRule "^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([0-9])$" "Index.php?c=$1Controller&a=$2&id=$3"


